* {
	margin: 0;
	margin-bottom: 0;
	list-style: none;
	text-decoration: none;
}

.header-wrapper {
	background-image: url(Images/main1-LS.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: fit-content;
	color: white;
	opacity: 0.9;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	background: rgba(0, 0, 0, 0);
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.logo-image {
	opacity: 0.3;
}

.header nav {
	display: flex;
	width: 100%;
}

.header nav a {
	margin: 0 50px;
	font-family: 'Raleway', sans-serif;
}

.main-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 82%;
	justify-content: space-between;
}

.main-text h1 {
	font-size: 60px;
	margin: 30px 0;
	font-family: 'PT Sans', sans-serif;
}

.main-text p {
	margin: 20px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

a:hover {
	background-color: rgb(42, 42, 42);
	border-radius: 10px;
	margin: 0 10px 0 10px;
	transition: ease-in-out .4s;
	cursor: pointer;
}

.top-wallpaper {
	width: 100%;
}

.wrapper {
	padding: 3em;
	text-align: center;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.conatiner-1 {
	background-image: url(Images/main2-LS.jpg);
}

.homeText-1 {
	color: black;
	width: 80%;
}

.bussinessPhotos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;
	border-radius: 10%;
	margin-right: 3em;
	opacity: 0.8;
}

.bussinessPhotos img:hover {
	transform: scale(1.1);
	transition: 0.4s;
}

h3 {
	text-align: center;
	padding-top: 1em;
	font-size: 2.8em;
	color: #101010;
	padding-left: 1em;
}

.Social {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;

	opacity: 0.95;
}

.Social li {
	display: inline-block;
	align-items: center;
	padding: -30% -30%;
	width: 135px;
	height: 100px;
	-webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1sec;
}

.Social li:hover {
	background-color: #ebebeb;

	width: 110px;
	height: 100px;
	background-position: center;
	border-radius: 10%;
}
